OPEN_METEO_GEOCODING_API_URL=https://geocoding-api.open-meteo.com
OPEN_METEO_GEOCODING_RESULT_COUNT=1
OPEN_METEO_FORECAST_API_URL=https://api.open-meteo.com
OPEN_METEO_FORECAST_DAYS=7
OPEN_METEO_MARINE_API_URL=https://marine-api.open-meteo.com
